  .home-card {
    max-width: 900px;
    background-color: #FFFAF0;
    border-radius: 25px; 
  }
  
  .home-image {
    object-fit: cover;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .home-title {
    color: #D2691E;
    font-weight: bold;
  }
  

  