#dynamic-content {
    padding-top: 90px;
    height: 100vh;
    background: linear-gradient(135deg, #fbd786, #edc990, #ec955f);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto; 
}

